<ion-toolbar >

  <ion-buttons slot="end">
      <ion-button>
          <ion-icon color="dark" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
          <ion-icon color="dark" name="chatbubble-outline"></ion-icon>
          <ion-badge color="danger" slot="end">2</ion-badge>
      </ion-button>
  </ion-buttons>



    <ion-img class="img" src="assets/images/logo.png"></ion-img>




</ion-toolbar>
