<div class="live" style="position: relative">
  <div class="img-bg" style="position: relative">
    <img
      style="position: relative"
      class="d-block w-100 item-img"
      src="assets/images/carosal-test.jpg"
      [alt]="'story'"
    />

    <ion-label >
      <ion-text> <p class="item-name">F-Mustang 201...</p></ion-text>
      <ion-button class="save-btn button">Live</ion-button>
    </ion-label>

  </div>
</div>
