%title {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* start live section*/
.live {
  .item-img {
    width: 175px !important;
    height: 80px !important;
    border: double 2.5px transparent;
    border-radius: 12px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ee7e62, #83487c);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  ion-label {
    position: relative;
    bottom: 35px;

    .item-name {
      color: #fff;
      font-size: 12px;
    }

    .button {
      width: 60px;
      height: 20px;
      border-radius: 8px;
      --background: var(--ion-background-gradient);
      margin: auto;
      font-size: 12px;
      --box-shadow: none;
    }
  }
}

/* end live section*/
