%float-section{
  background: var(--ion-background-gradient);
        height: 140px;
        width: 70px;
        position: relative;
        border-radius: 24px;
        z-index: -1;
        top: 3px;

}




ion-content{
    --background:var(--ion-background-light);
}

ion-item{
  --border:none !important;
  --padding-start: 0;
  .reco{
    font-weight: 500;
    font-size: 18px;
  }
}


.float-section{
  @extend %float-section;
  &.first{
   left: 8px;
  }



  &.last{
   right: 8px;
  }

 }



ion-grid{
  padding: 0;
}

.slider-img::part(image) {
  border-radius: 12px;
}
