.card-item {
  position: relative;
  .float-group {
    position: absolute;
    top: -75px;
    .star-img {
      width: 20px;
      position: relative;
      right: 25px;
    }
  }
  ion-icon {
    position: absolute;
    top: 20px;
    color: #fff;
    right: 20px;
  }
  img {
    height: 180px;
    border-radius: 12px;
  }

  ion-label {
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 10px;
    p {
      width: 110px;
      text-align: left;
      font-size: 12px;
      line-height: 1.4;
      white-space: pre-line;
    }

  }
  ion-note {
    float: right;
    font-size: 12px;
    color: #fff;
  }
  .save-btn {
    position: absolute;
    bottom: -11px;
    right: 40px;
    height: 20px;
    width: 80px;
    border-radius: 8px;
   --background: var(--ion-background-gradient);
   font-size: 12px;
}
}

ion-img::part(image) {
  border-radius: 12px;
}
