<ion-toolbar [color]="name == 'BidsComponent' ? 'light': 'white' "   >


  <ion-buttons slot="end">
    <ion-button>
      <ion-img src="assets/icons/location.svg"></ion-img>

    </ion-button>
  </ion-buttons>


  <ion-searchbar  [color]="name == 'BidsComponent' ? 'medium': 'light' "  placeholder="What are you looking for?" ></ion-searchbar>


</ion-toolbar>
