
ion-tabs {
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom);
		ion-fab-button {
			--box-shadow: none;
			--background:var(--ion-background-gradient);
		}
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding-top: 20px;
		&:after {
			content: " ";
			width: 100%;
			bottom: 0;
			background: red;
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: #fff;
			padding-top: 5px;
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}

		ion-label {
			font-size: 12px;
			font-weight: 500;
		}
		svg {
			width: 72px;
			margin-top: 19px;
			path {
				fill: #fff;
			}
		}
	}
}
