<ion-header >
  <app-search-nav></app-search-nav>
</ion-header>

<ion-content >

  <ion-item-group>

    <ion-item lines="none" color="light">
      <ion-slides  pager="true" [options]="storyOpts">
        <ion-slide>
          <app-live></app-live>
        </ion-slide>
        <ion-slide>
          <app-live></app-live>
        </ion-slide>
        <ion-slide>
          <app-live></app-live>
        </ion-slide>
      </ion-slides>
    </ion-item>


  <div class="mt-3 mb-3">
      <ion-slides pager="true" [options]="categoryOpts" >
        <ion-slide>
          <app-box></app-box>
        </ion-slide>
        <ion-slide>
          <app-box></app-box>
        </ion-slide>
        <ion-slide>
          <app-box></app-box>
        </ion-slide>
      </ion-slides>
  </div>



  <ion-item lines="none" color="light" >
    <ion-text> <h4 class="ml-2">Latest Bids</h4></ion-text>
  </ion-item>
  <ion-item lines="none" color="light" class="mb-2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-card [bids]="true" ></app-card>
        </ion-col>
        <ion-col>
          <app-card [bids]="true"></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  </ion-item-group>




</ion-content>
